* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
body {
  /* overflow-y: auto; */
  min-height: 100vh;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}
.nav-item {
  padding: 10px;
}
.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 17.7);
  background: lightblue;
}
.nav-item .fa-solid {
  font-size: 18px;
  margin-right: 5px;
}

/* ---------------------AboutUS ---------------------*/

.about-image img {
  width: 100%;
  height: 100%;
}
.about-us {
  font-size: 18px;
}
/* ---------------------Error------------------------- */
.error{
  height: 100vh;
}
.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}
.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url("https://colorlib.com/etc/404/colorlib-error-404-18/img/emoji.png");
  background-size: cover;
}
.notfound h1 {
  font-family: nunito, sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}
.notfound .notfound-404:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}
.notfound p {
  font-family: nunito, sans-serif;
  color: #999fa5;
  font-weight: 400;
}
.notfound a {
  font-family: nunito, sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}
